$brand-purple: #452187;
$brand-darkpurple: #331B38;
$brand-turquoise: #3FB5A0;
$brand-yellow: #FFC75D;
$brand-pink: #FC458C;
$brand-primary: $brand-purple;

$navbar-height: 48px;

$background-color: #222;
$text-color: #AAA;
$text-color-secondary: #777;

$background-color-elevated: lighten($background-color, 2%);
$text-color-elevated: lighten($text-color, 15%);

$accent-background-color: mix($background-color-elevated, $brand-primary, 50%);

$surface-color: lighten($background-color, 7%);
$surface-text-color: #888;

$sidebar-width: 60px;
$sidebar-icon-size: 28px;
$sidebar-drawer-width: 320px;
